<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mydb</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <mapping class="animedb.domain.AnimeEntity"/>
        <mapping resource="AnimeEntity.hbm.xml"/>
        <mapping class="animedb.domain.AnimeGenreEntity"/>
        <mapping resource="AnimeGenreEntity.hbm.xml"/>
        <mapping class="animedb.domain.AnimeTypesEntity"/>
        <mapping resource="AnimeTypesEntity.hbm.xml"/>
        <mapping class="animedb.domain.ConnectionsEntity"/>
        <mapping resource="ConnectionsEntity.hbm.xml"/>
        <mapping class="animedb.domain.GenresEntity"/>
        <mapping resource="GenresEntity.hbm.xml"/>
        <mapping resource="ProductionEntity.hbm.xml"/>
        <mapping class="animedb.domain.ProductionEntity"/>
        <mapping class="animedb.domain.ScreenshotsEntity"/>
        <mapping resource="ScreenshotsEntity.hbm.xml"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>